<<<<<<< HEAD
#navigation{border-radius:0;text-transform:uppercase}#navigation a{color:#FFF}#navigation #logo{height:22px;width:24px}#toTop{color:#00A1D0;right:1%;top:90%;position:fixed;z-index:100;overflow:hidden;text-decoration:none;outline:none;display:none}
=======
#navigation{border-radius:0;text-transform:uppercase}#navigation a{color:#FFF}#navigation #logo{height:22px;width:24px}
>>>>>>> ef67138a51fc5b5e03bcaec7cbde7c0d88fac46b
